#----------------------------------------------
# sensitive data
**/*secret*
**/*private*


**/*.hidden.cs
**/*.hidden.md
**/*.hidden.sh
**/*.hidden.bat
**/*.hidden.cmd
**/*.secure*.cs
**/*.secure*.md
**/*.secure*.sh
**/*.secure*.bat
**/*.secure*.cmd
**/*.secret*.cs
**/*.secret*.md
**/*.secret*.sh
**/*.secret*.bat
*/*.secret*.cmd

**/*.data.bat
**/*.data.sh
**/*.secure.data.md
**/*.data.md
**/*.secured.md
**/*.secured.md
**/*.secure*
**/*.data.*
#----------------------------------------------
